html
    head
        style
            include ../../public/stylesheet.css
        if profile
            title #{user.username} - Profile
        else
            title #{user.username}

if profile
    body(onload="init()")
        h1 User: #{user.username} - Your Profile
        br
        br
        p Profile Privacy:
        if user.privacy
            input#public(type="radio")
            label(for="public") Public
            br
            input#private(type="radio", checked="true")
            label(for="private") Private
            br
        else
            input#public(type="radio", checked="true")
            label(for="public") Public
            br
            input#private(type="radio")
            label(for="private") Private
            br
        br
        div(class="profile", onclick="update()") Update
        br
        div#orders
            p Order History:
            if orders.length > 0
                each order in orders
                    a(href="/orders/"+order._id) #{order._id}
                    br
            else
                p User has no orders.
        include ../partials/loggedin
        script
            include ../../public/js/profile.js
else
    body
        h1 User: #{user.username}
        br
        br
        div#orders
            p Order History:
            if orders.length > 0
                each order in orders
                    a(href="/orders/"+order._id) #{order._id}
                    br
            else
                p User has no orders.
        if loggedin
            include ../partials/loggedin
        else
            include ../partials/loggedout