doctype html
html
  head
    style
      include ../../public/stylesheet.css
    style
      include ../../public/collapased-table.css
    title Admin Dashboard
  body
    header
      h1 Admin Dashboard
    nav
      ul
        li
          a(href="#users-tab") Users
        li
          a(href="#maintenance-tab") Maintenance Tickets
        li
          a(href="#billing-tab") Billing
        li
          a(href="#events-tab") Events
    .tab-content
      // Users Tab
      #users-tab.tab
        h2 Users
        table
          thead
            tr
              th ID
              th Email
          tbody
            each user in users
              if (user.id !== sessionUser)
                tr
                  td= user.id
                  td= user.email
                  td(colspan="2")
                    .collapse-panel
                      table
                        tr
                          th Admin
                          td= user.admin 
                        tr
                          th First Name
                          td= user.fname
                        tr
                          th Last Name
                          td= user.lname
                        tr
                          th Join Date
                          td= user.joindate 
                        tr
                          th Points
                          td= user.points
                        tr
                          th Disabled?
                          td= user.disabled
                        tr 
                          th Actions:
                          td
                            button.disable-button(type="button", onclick=`disableUser(${user.id})`) Disable
                            button.reset-password-button(type="button", onclick=`resetPassword(${user.id})`) Reset Password
        h3 Create New User
        form(enctype="multipart/form-data" method="POST" name="create-user-form")
          label(for="email") User Email:
          input(type="email" id="email" name="email" placeholder="example@example.com" required)

          label(for="password") User Password:
          input(type="text" id="password" name="password" placeholder="1234" required)

          label(for="fname") User's First Name:
          input(type="text" id="fname" name="fname" placeholder="Steve" required)

          label(for="lname") User's Last Name:
          input(type="text" id="lname" name="lname" placeholder="Wood" required)

          label(for="admin") Admin?
          input(type="checkbox" id="admin" name="admin" value="true")

          input(id="submit" type="submit" value="Submit")

      // Maintenance Tab
      #maintenance-tab.tab
        h2 Maintenance Tickets
        table
          thead
            tr
              th Ticket ID
              th Subject
          tbody
            each ticket in tickets
              tr
                td= ticket.id
                td= ticket.subject
                td(colspan="2")
                  .collapse-panel
                    table
                      tr
                        th Description
                        td= ticket.description
                      tr
                        th Mark as Complete
                        td
                          form(enctype="multipart/form-data" method="POST" name="delete-ticket-form")
                            input(type="hidden" name="ticketId" value= ticket.id)
                            button(type="submit") Complete

      // Billing Tab
      #billing-tab.tab
        h2 Billing
        h3 Create New Transaction
        form(enctype="multipart/form-data" method="POST" name="create-new-transaction-form")
          label(for="email") Email:
          input(type="email" id="email" name="email" placeholder="example@example.com" required)

          label(for="amount") Amount:
          input(type="number" id="amount" name="amount" placeholder="100" required)


          label(for="type") Type:
          input(type="text" id="type" name="type" placeholder="Subscription Renewal" required)

          label(for="due-date") Due Date:
          input(type="date" id="due-date" name="due-date" placeholder="YYYY-MM-DD" required)

          input(type="submit" value="Submit")


        h3 Transaction History
        table
          thead
            tr
              th Transaction ID
              th Email
          tbody
            each transaction in transactions
              tr
                td= transaction.transaction_id
                td= transaction.email
                td(colspan="2")
                  .collapse-panel
                    table
                      tr
                        th Type
                        td= transaction.type
                      tr
                        th Amount
                        td= transaction.amount
                      tr
                        th First Name
                        td= transaction.first_name
                      tr
                        th Last Name
                        td= transaction.last_name
                      tr
                        th Status
                        td= transaction.paid
                      tr
                        th Paid With Points
                        td= transaction.paidbypoints
                      tr
                        th Points
                        td= transaction.points
                      tr
                        th Date
                        td= transaction.date

      // Events Tab
      #events-tab.tab
        h2 Events
        h3 Create New Event
        form(action="/create-event" method="POST")
          label(for="name") Event Name:
          input(type="text" id="name" name="name" placeholder="Wednesday Yoga Class" required)

          label(for="info") Event Info:
          input(type="text" id="info" name="info" placeholder="2 hours log. Room 123. Requires Subscription" required)

          label(for="when") When:
          input(type="date" id="when" name="when" placeholder="YYYY-MM-DD" required)

          input(type="submit" value="Submit")

        h3 Upcoming Events
        table
          thead
            tr
              th Event Name
              th Event When
          tbody
            each uEvent in uEvents
              tr
                td= uEvent.name
                td= uEvent.when
                td(colspan="2")
                  .collapse-panel
                    table
                      tr
                        th Info
                        td= uEvent.info
                      tr
                        th ID
                        td= uEvent.id

        h3 Past Events
        table
          thead
            tr
              th Event Name
              th Event When
          tbody
            each pEvent in pEvents
              tr
                td= pEvent.name
                td= pEvent.when
                td(colspan="2")
                  .collapse-panel
                    table
                      tr
                        th Info
                        td= pEvent.info
                      tr
                        th ID
                        td= pEvent.id

include ../partials/loggedinAdmin
script
  include ../../public/js/adminDashboard.js