doctype html
html
  head
    style
      include ../../public/stylesheet.css
    style
      include ../../public/collapased-table.css
    script
      include ../../public/js/adminDashboard.js
    title Admin Dashboard
  body
    header
      h1 Admin Dashboard
    nav
      ul
        li
          a(href="#users-tab") Users
        li
          a(href="#maintenance-tab") Maintenance Tickets
        li
          a(href="#billing-tab") Billing
        li
          a(href="#events-tab") Events
    .tab-content
      // Users Tab
      #users-tab.tab
        h2 Users
        table
          thead
            tr
              th Email
              th First Name
              th Last Name
              th Actions
          tbody
            each user in users 
              if (user.id !== sessionUser)
                tr
                  td= user.email
                  td= user.fname 
                  td= user.lname
                  td
                    button.disable-button(type="button", onclick=`disableUser(${user.id})`) Disable
                    button.reset-password-button(type="button", onclick=`resetPassword(${user.id})`) Reset Password
        button.add-user-button(type="button", onclick="addUser()") Add User

      // Maintenance Tab
      #maintenance-tab.tab
        h2 Maintenance Tickets
        table
          thead
            tr
              th Ticket ID
              th Subject
              th Description
              th Actions
          tbody
            each ticket in tickets
              tr
                td= ticket.id
                td= ticket.subject
                td= ticket.description
                td
                  button.complete-ticket-button(type="button", onclick=`completeTicket(${ticket.id})`) Complete

      // Billing Tab
      #billing-tab.tab
        h2 Billing
        h3 Create New Transaction
        form(action="/create-transaction" method="POST")
          label(for="email") Email:
          input(type="email" id="email" name="email" placeholder="example@example.com" required)

          label(for="amount") Amount:
          input(type="number" id="amount" name="amount" placeholder="100" required)


          label(for="type") Type:
          input(type="text" id="type" name="type" placeholder="Subscription Renewal" required)

          label(for="due-date") Due Date:
          input(type="date" id="due-date" name="due-date" placeholder="YYYY-MM-DD" required)

          input(type="submit" value="Submit")


        h3 Transaction History
        table
          thead
            tr
              th Transaction ID
              th Email
          tbody
            each transaction in transactions
              tr
                td= transaction.transaction_id
                td= transaction.email
                td(colspan="2")
                  .collapse-panel
                    table
                      tr
                        th Type
                        td= transaction.type
                      tr
                        th Amount
                        td= transaction.amount
                      tr
                        th First Name
                        td= transaction.first_name
                      tr
                        th Last Name
                        td= transaction.last_name
                      tr
                        th Status
                        td= transaction.paid
                      tr
                        th Paid With Points
                        td= transaction.paidbypoints
                      tr
                        th Points
                        td= transaction.points
                      tr
                        th Date
                        td= transaction.date

    //-   // Events Tab
    //-   #events-tab.tab
    //-     h2 Events
    //-     h3 Create New Event
    //-     form#event-form
    //-       label(for="event-name") Event Name:
    //-       input#event-name(type="text")
    //-       label(for="event-info") Event Info:
    //-       input#event-info(type="text")
    //-       label(for="event-date") Event Date:
    //-       input#event-date(type="text")
    //-       button#create-event-button(type="button") Create Event

    //-     h3 Event List
    //-     ul
    //-       each event in eventsData
    //-         li
    //-           p Event Name: #{event.name}
    //-           p Event Info: #{event.info}
    //-           p Event Date: #{event.date}
    //-           p RSVP Users: #{event.rsvpUsers.join(', ')}

include ../partials/loggedinAdmin
